{% extends "../base.html" %}


{% block title %}Форма Б.1{% endblock %}

{% block title_form %}
    <button type="button" class="primer1_b1" name="primer">Пример</button>
    <button type="button" class="reset" name="res">Очистить поля</button>
    <!-- <button type="button" class="save" name="save">Сохранить Форму</button><br><br> -->
    <p class="name_vedomost"><b>Форма Б.1</b> - Ведомость записи показателей при снятии нагрузочной характеристики гидросистемы</p>
{% endblock  %}

{% block tabl_header %}
<table class="tabl_1">
    <tr>
        <td><label for="marka" class="mod_traktor"><i><b>Марка машины:</b></i></label></td>
        <td><input type="text" id="marka" class="z_1" name="marka" size="50"></td>
    </tr>
    <tr>    
        <td><label for="mesto" class="mod_traktor"><i><b>Место испытаний:</b></i></label></td>
        <td><input type="text" id="mesto" class="z_2" name="mesto" size="15"></td>
    </tr>
    <tr>
        <td><label for="data" class="mod_traktor"><i><b>Дата испытаний:</b></i></label></td>
        <td><input type="text" id="data" class="z_3" name="data" size="15"></td>
    </tr>
    <tr>
        <td><label for="data" class="mod_traktor"><i><b>Средства измерений:</b></i></label></td>
        <td><input type="text" id="sort" class="z_4" name="data" size="50"></td>
    </tr>
         
</table>
{% endblock %}


{% block tabl %}
<br>
<table class="main-tabl">
    <tr>
        <th class="tabl-th" rowspan="3">Масса<br>груза</th>
        <th class="tabl-th" colspan="4">Давление масла в<br>гидросистеме, МПа</th>
        <th class="tabl-th" colspan="4">Температура масла в<br>гидросистеме,  &deg;С</th>
        <th class="tabl-th" colspan="4">Время подъёма<br>груза, с </th>
        <th class="tabl-th" colspan="4">Высота подъёма<br>груза, м</th>
    </tr>
    <tr>
        <th class="tabl-th" colspan="4">Повторность</th>
        <th class="tabl-th" colspan="4">Повторность</th>
        <th class="tabl-th" colspan="4">Повторность</th>
        <th class="tabl-th" colspan="4">Повторность</th>
    </tr>
    <tr>
        <th class="tabl-th">1</th>
        <th class="tabl-th">2</th>
        <th class="tabl-th">3</th>
        <th class="tabl-th">Сред.</th>
    
        <th class="tabl-th">1</th>
        <th class="tabl-th">2</th>
        <th class="tabl-th">3</th>
        <th class="tabl-th">Сред.</th>
    
        <th class="tabl-th">1</th>
        <th class="tabl-th">2</th>
        <th class="tabl-th">3</th>
        <th class="tabl-th">Сред.</th>
    
        <th class="tabl-th">1</th>
        <th class="tabl-th">2</th>
        <th class="tabl-th">3</th>
        <th class="tabl-th">Сред.</th>
    </tr>

    <tr>
        <th class="tabl-td">G<sub>1</sub> = <input class="in" id="g1_massa" type="number"></th>
        <td class="tabl-td"><input class="in" id="g1_1" type="number"></td>
        <td class="tabl-td"><input class="in" id="g1_2" type="number"></td>
        <td class="tabl-td"><input class="in" id="g1_3" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g1_sred1" type="text"></td>
        <td class="tabl-td"><input class="in" id="g1_4" type="number"></td>
        <td class="tabl-td"><input class="in" id="g1_5" type="number"></td>
        <td class="tabl-td"><input class="in" id="g1_6" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g1_sred2" type="text"></td>
        <td class="tabl-td"><input class="in" id="g1_7" type="number"></td>
        <td class="tabl-td"><input class="in" id="g1_8" type="number"></td>
        <td class="tabl-td"><input class="in" id="g1_9" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g1_sred3" type="text"></td>
        <td class="tabl-td"><input class="in" id="g1_10" type="number"></td>
        <td class="tabl-td"><input class="in" id="g1_11" type="number"></td>
        <td class="tabl-td"><input class="in" id="g1_12" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g1_sred4" type="text"></td>
    </tr>
     <tr>
        <th class="tabl-td">G<sub>2</sub> = <input class="in" id="g2_massa" type="number"></th>
        <td class="tabl-td"><input class="in" id="g2_1" type="number"></td>
        <td class="tabl-td"><input class="in" id="g2_2" type="number"></td>
        <td class="tabl-td"><input class="in" id="g2_3" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g2_sred1" type="text"></td>
        <td class="tabl-td"><input class="in" id="g2_4" type="number"></td>
        <td class="tabl-td"><input class="in" id="g2_5" type="number"></td>
        <td class="tabl-td"><input class="in" id="g2_6" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g2_sred2" type="text"></td>
        <td class="tabl-td"><input class="in" id="g2_7" type="number"></td>
        <td class="tabl-td"><input class="in" id="g2_8" type="number"></td>
        <td class="tabl-td"><input class="in" id="g2_9" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g2_sred3" type="text"></td>
        <td class="tabl-td"><input class="in" id="g2_10" type="number"></td>
        <td class="tabl-td"><input class="in" id="g2_11" type="number"></td>
        <td class="tabl-td"><input class="in" id="g2_12" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g2_sred4" type="text"></td>
    </tr>
     <tr>
        <th class="tabl-td">G<sub>3</sub> = <input class="in" id="g3_massa" type="number"></th>
        <td class="tabl-td"><input class="in" id="g3_1" type="number"></td>
        <td class="tabl-td"><input class="in" id="g3_2" type="number"></td>
        <td class="tabl-td"><input class="in" id="g3_3" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g3_sred1" type="text"></td>
        <td class="tabl-td"><input class="in" id="g3_4" type="number"></td>
        <td class="tabl-td"><input class="in" id="g3_5" type="number"></td>
        <td class="tabl-td"><input class="in" id="g3_6" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g3_sred2" type="text"></td>
        <td class="tabl-td"><input class="in" id="g3_7" type="number"></td>
        <td class="tabl-td"><input class="in" id="g3_8" type="number"></td>
        <td class="tabl-td"><input class="in" id="g3_9" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g3_sred3" type="text"></td>
        <td class="tabl-td"><input class="in" id="g3_10" type="number"></td>
        <td class="tabl-td"><input class="in" id="g3_11" type="number"></td>
        <td class="tabl-td"><input class="in" id="g3_12" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g3_sred4" type="text"></td>
    </tr>
     <tr>
        <th class="tabl-td">G<sub>4</sub> = <input class="in" id="g4_massa" type="number"></th>
        <td class="tabl-td"><input class="in" id="g4_1" type="number"></td>
        <td class="tabl-td"><input class="in" id="g4_2" type="number"></td>
        <td class="tabl-td"><input class="in" id="g4_3" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g4_sred1" type="text"></td>
        <td class="tabl-td"><input class="in" id="g4_4" type="number"></td>
        <td class="tabl-td"><input class="in" id="g4_5" type="number"></td>
        <td class="tabl-td"><input class="in" id="g4_6" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g4_sred2" type="text"></td>
        <td class="tabl-td"><input class="in" id="g4_7" type="number"></td>
        <td class="tabl-td"><input class="in" id="g4_8" type="number"></td>
        <td class="tabl-td"><input class="in" id="g4_9" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g4_sred3" type="text"></td>
        <td class="tabl-td"><input class="in" id="g4_10" type="number"></td>
        <td class="tabl-td"><input class="in" id="g4_11" type="number"></td>
        <td class="tabl-td"><input class="in" id="g4_12" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g4_sred4" type="text"></td>
    </tr>
     <tr>
        <th class="tabl-td">G<sub>5</sub> = <input class="in" id="g5_massa" type="number"></th>
        <td class="tabl-td"><input class="in" id="g5_1" type="number"></td>
        <td class="tabl-td"><input class="in" id="g5_2" type="number"></td>
        <td class="tabl-td"><input class="in" id="g5_3" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g5_sred1" type="text"></td>
        <td class="tabl-td"><input class="in" id="g5_4" type="number"></td>
        <td class="tabl-td"><input class="in" id="g5_5" type="number"></td>
        <td class="tabl-td"><input class="in" id="g5_6" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g5_sred2" type="text"></td>
        <td class="tabl-td"><input class="in" id="g5_7" type="number"></td>
        <td class="tabl-td"><input class="in" id="g5_8" type="number"></td>
        <td class="tabl-td"><input class="in" id="g5_9" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g5_sred3" type="text"></td>
        <td class="tabl-td"><input class="in" id="g5_10" type="number"></td>
        <td class="tabl-td"><input class="in" id="g5_11" type="number"></td>
        <td class="tabl-td"><input class="in" id="g5_12" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g5_sred4" type="text"></td>
    </tr>
     <tr>
        <th class="tabl-td">G<sub>6</sub> = <input class="in" id="g6_massa" type="number"></th>
        <td class="tabl-td"><input class="in" id="g6_1" type="number"></td>
        <td class="tabl-td"><input class="in" id="g6_2" type="number"></td>
        <td class="tabl-td"><input class="in" id="g6_3" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g6_sred1" type="text"></td>
        <td class="tabl-td"><input class="in" id="g6_4" type="number"></td>
        <td class="tabl-td"><input class="in" id="g6_5" type="number"></td>
        <td class="tabl-td"><input class="in" id="g6_6" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g6_sred2" type="text"></td>
        <td class="tabl-td"><input class="in" id="g6_7" type="number"></td>
        <td class="tabl-td"><input class="in" id="g6_8" type="number"></td>
        <td class="tabl-td"><input class="in" id="g6_9" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g6_sred3" type="text"></td>
        <td class="tabl-td"><input class="in" id="g6_10" type="number"></td>
        <td class="tabl-td"><input class="in" id="g6_11" type="number"></td>
        <td class="tabl-td"><input class="in" id="g6_12" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g6_sred4" type="text"></td>
    </tr>
     <tr>
        <th class="tabl-td">G<sub>7</sub> = <input class="in" id="g7_massa" type="number"></th>
        <td class="tabl-td"><input class="in" id="g7_1" type="number"></td>
        <td class="tabl-td"><input class="in" id="g7_2" type="number"></td>
        <td class="tabl-td"><input class="in" id="g7_3" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g7_sred1" type="text"></td>
        <td class="tabl-td"><input class="in" id="g7_4" type="number"></td>
        <td class="tabl-td"><input class="in" id="g7_5" type="number"></td>
        <td class="tabl-td"><input class="in" id="g7_6" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g7_sred2" type="text"></td>
        <td class="tabl-td"><input class="in" id="g7_7" type="number"></td>
        <td class="tabl-td"><input class="in" id="g7_8" type="number"></td>
        <td class="tabl-td"><input class="in" id="g7_9" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g7_sred3" type="text"></td>
        <td class="tabl-td"><input class="in" id="g7_10" type="number"></td>
        <td class="tabl-td"><input class="in" id="g7_11" type="number"></td>
        <td class="tabl-td"><input class="in" id="g7_12" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g7_sred4" type="text"></td>
    </tr>
     <tr>
       <th class="tabl-td">G<sub>8</sub> = <input class="in" id="g8_massa" type="number"></th>
        <td class="tabl-td"><input class="in" id="g8_1" type="number"></td>
        <td class="tabl-td"><input class="in" id="g8_2" type="number"></td>
        <td class="tabl-td"><input class="in" id="g8_3" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g8_sred1" type="text"></td>
        <td class="tabl-td"><input class="in" id="g8_4" type="number"></td>
        <td class="tabl-td"><input class="in" id="g8_5" type="number"></td>
        <td class="tabl-td"><input class="in" id="g8_6" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g8_sred2" type="text"></td>
        <td class="tabl-td"><input class="in" id="g8_7" type="number"></td>
        <td class="tabl-td"><input class="in" id="g8_8" type="number"></td>
        <td class="tabl-td"><input class="in" id="g8_9" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g8_sred3" type="text"></td>
        <td class="tabl-td"><input class="in" id="g8_10" type="number"></td>
        <td class="tabl-td"><input class="in" id="g8_11" type="number"></td>
        <td class="tabl-td"><input class="in" id="g8_12" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g8_sred4" type="text"></td> 
    </tr>
     <tr>
        <th class="tabl-td">G<sub>9</sub> = <input class="in" id="g9_massa" type="number"></th>
        <td class="tabl-td"><input class="in" id="g9_1" type="number"></td>
        <td class="tabl-td"><input class="in" id="g9_2" type="number"></td>
        <td class="tabl-td"><input class="in" id="g9_3" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g9_sred1" type="text"></td>
        <td class="tabl-td"><input class="in" id="g9_4" type="number"></td>
        <td class="tabl-td"><input class="in" id="g9_5" type="number"></td>
        <td class="tabl-td"><input class="in" id="g9_6" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g9_sred2" type="text"></td>
        <td class="tabl-td"><input class="in" id="g9_7" type="number"></td>
        <td class="tabl-td"><input class="in" id="g9_8" type="number"></td>
        <td class="tabl-td"><input class="in" id="g9_9" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g9_sred3" type="text"></td>
        <td class="tabl-td"><input class="in" id="g9_10" type="number"></td>
        <td class="tabl-td"><input class="in" id="g9_11" type="number"></td>
        <td class="tabl-td"><input class="in" id="g9_12" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g9_sred4" type="text"></td> 
    </tr>
     <tr>
        <th class="tabl-td">G<sub>10</sub> = <input class="in" id="g10_massa" type="number"></th>
        <td class="tabl-td"><input class="in" id="g10_1" type="number"></td>
        <td class="tabl-td"><input class="in" id="g10_2" type="number"></td>
        <td class="tabl-td"><input class="in" id="g10_3" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g10_sred1" type="text"></td>
        <td class="tabl-td"><input class="in" id="g10_4" type="number"></td>
        <td class="tabl-td"><input class="in" id="g10_5" type="number"></td>
        <td class="tabl-td"><input class="in" id="g10_6" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g10_sred2" type="text"></td>
        <td class="tabl-td"><input class="in" id="g10_7" type="number"></td>
        <td class="tabl-td"><input class="in" id="g10_8" type="number"></td>
        <td class="tabl-td"><input class="in" id="g10_9" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g10_sred3" type="text"></td>
        <td class="tabl-td"><input class="in" id="g10_10" type="number"></td>
        <td class="tabl-td"><input class="in" id="g10_11" type="number"></td>
        <td class="tabl-td"><input class="in" id="g10_12" type="number"></td>
        <td class="tabl-td"><input class="in_sred" id="g10_sred4" type="text"></td>
    </tr>
</table>
<br>
<div class="butt">
    <button type="button" class="raschet_b1">Расчёт</button>
    <!-- <button type="button" class="bd_b1">Сохранить в БД</button> -->
    <!-- <button type="button" class="print1_b1">Печать</button> -->
</div>
<!-- {% load static %} -->
<script src="{% static 'js\b_1.js' %}"></script>
<script src="../../static/js/b_1.js"></script>

<div class="container_grid">
    <div style="height: 360px; width: 500px;">
        <canvas id="myChart_1"></canvas>
    </div>

     <div style="height: 360px; width: 500px;">
        <canvas id="myChart_2"></canvas>
    </div>

    <div style="height: 360px; width: 500px;">
        <canvas id="myChart_3"></canvas>
    </div>

    <div style="height: 360px; width: 500px;">
        <canvas id="myChart_4"></canvas>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    let num = '{{ znak.0|escapejs }}'; 

 
    const ctx = document.getElementById('myChart_1');
    

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000],
            datasets: [{
                label: 'Давление масла в гидросистеме, МПа',
                // data: [0, 5, 12, 17, 20, 25, 29, 32, 35, 37],
                data: [14, 14.7, 15, 15.3, 16.3, 17, 17.3, 18, 18.3, 18.5],
                borderWidth: 1
            }]
        },
        options: {
            scale: {
                y:{
                    beginAtZero: true
                }
            }
        }
    })

    const ctx2 = document.getElementById('myChart_2');

    new Chart(ctx2, {
        type: 'line',
        data: {
            labels: [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000],
            datasets: [{
                label: 'Температура масла в гидросистеме, °С',
                // data: [15, 17, 20, 21, 23, 24, 26, 29, 33, 35],
                data: [46, 46, 47, 48.3, 49.3, 49.7, 50.3, 51, 51.3, 51.5],
                borderWidth: 1
            }]
        },
        options: {
            scale: {
                y:{
                    beginAtZero: true
                }
            }
        }
    })

    const ctx3 = document.getElementById('myChart_3');

    new Chart(ctx3, {
        type: 'line',
        data: {
            labels: [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000],
            datasets: [{
                label: 'Время подъёмагруза, с ',
                // data: [35, 38, 41, 42, 47, 50, 58, 65, 75, 80],
                data: [45, 49.3, 50, 51.3, 52.7, 53, 53.3, 53.7, 54, 54.2],
                borderWidth: 1
            }]
        },
        options: {
            scale: {
                y:{
                    beginAtZero: true
                }
            }
        }
    })

    const ctx4 = document.getElementById('myChart_4');

    new Chart(ctx4, {
        type: 'line',
        data: {
            labels: [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000],
            datasets: [{
                label: 'Высота подъёма груза, м',
                // data: [2.8, 2.9, 3, 3.1, 3.1, 3.3, 3.5, 3.7, 3.9, 4],
                data: [2.5, 2.7, 2.8, 2.8, 2.9, 3, 2.9, 2.9, 2.9, 3],
                borderWidth: 1
            }]
        },
        options: {
            scale: {
                y:{
                    beginAtZero: true
                }
            }
        }
    })
</script>


{% endblock tabl %}