{% extends "../base.html" %}


{% block title %}Форма Б.4{% endblock %}

{% block title_form %}
    <button type="button" class="primer1_b1" name="primer">Пример</button>
    <button type="button" class="reset" name="res">Очистить поля</button>
    <!-- <button type="button" class="save" name="save">Сохранить Форму</button><br><br> -->
    <p class="name_vedomost"><b>Форма Б.4</b> - Ведомость определения насыпной плотности технологического материала</p>
{% endblock  %}

{% block tabl_header %}
<table class="tabl_1">
    <tr>
        <td><label for="marka" class="mod_traktor"><i><b>Марка машины:</b></i></label></td>
        <td><input type="text" id="marka" class="z_1" name="marka" size="50"></td>
    </tr>
    <tr>    
        <td><label for="mesto" class="mod_traktor"><i><b>Место испытаний:</b></i></label></td>
        <td><input type="text" id="mesto" class="z_2" name="mesto" size="15"></td>
    </tr>
    <tr>
        <td><label for="data" class="mod_traktor"><i><b>Дата испытаний:</b></i></label></td>
        <td><input type="text" id="data" class="z_3" name="data" size="15"></td>
    </tr>
    <tr>
        <td><label for="data" class="mod_traktor"><i><b>Наименование материала:</b></i></label></td>
        <td><input type="text" id="data" class="z_3" name="data" size="15"></td>
    </tr>
    <tr>
        <td><label for="data" class="mod_traktor"><i><b>Средства измерений:</b></i></label></td>
        <td><input type="text" id="sort" class="z_4" name="data" size="50"></td>
    </tr>
         
</table>
{% endblock %}

{% block tabl %}
<table class="main-tabl">
    <thead>
        <tr>
            <th class="tabl-th">Проба</th>
            <th class="tabl-th">Масса пробы<br>с ёмкостью, кг</th>
            <th class="tabl-th">Масса<br> ёмкости, кг</th>
            <th class="tabl-th">Масса чистой<br>пробы, кг</th>
            <th class="tabl-th">Объём<br>ёмкости, м<sup>3</sup></th>
            <th class="tabl-th">Плотность<br>насыпная, кг/м<sup>3</sup></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th class="tabl-th">1</th>
            <td class="tabl-td"><input class="in" type="number" size="5"></td>
            <td class="tabl-td"><input class="in" type="number" size="3"></td>
            <td class="tabl-td"><input class="in" type="number" size="3"></td>
            <td class="tabl-td"><input class="in" type="number" size="3"></td>
            <td class="tabl-td"><input class="in" type="number" size="3"></td>
        </tr>
        <tr>
            <th class="tabl-th">2</th>
            <td class="tabl-td"><input class="in" type="number" size="5"></td>
            <td class="tabl-td"><input class="in" type="number" size="3"></td>
            <td class="tabl-td"><input class="in" type="number" size="3"></td>
            <td class="tabl-td"><input class="in" type="number" size="3"></td>
            <td class="tabl-td"><input class="in" type="number" size="3"></td>
        </tr>
        <tr>
            <th class="tabl-th">3</th>
            <td class="tabl-td"><input class="in" type="number" size="5"></td>
            <td class="tabl-td"><input class="in" type="number" size="3"></td>
            <td class="tabl-td"><input class="in" type="number" size="3"></td>
            <td class="tabl-td"><input class="in" type="number" size="3"></td>
            <td class="tabl-td"><input class="in" type="number" size="3"></td>
        </tr>
    </tbody>

    <tfoot>
         <tr>
            <th class="tabl-th">Сумма</th>
            <td class="tabl-td"><input class="summ" id="summ1" type="text"></td>
            <td class="tabl-td"><input class="summ" id="summ2" type="text"></td>
            <td class="tabl-td"><input class="summ" id="summ3" type="text"></td>
            <td class="tabl-td"><input class="summ" id="summ4" type="text"></td>
            <td class="tabl-td"><input class="summ" id="summ5" type="text"></td>
        </tr>
         <tr>
            <th class="tabl-th">Средне-<br>арифмитиче-<br>ческое значение</th>
            <td class="tabl-td"><input class="in_sred" id="sred1" type="text"></td>
            <td class="tabl-td"><input class="in_sred" id="sred2" type="text"></td>
            <td class="tabl-td"><input class="in_sred" id="sred3" type="text"></td>
            <td class="tabl-td"><input class="in_sred" id="sred4" type="text"></td>
            <td class="tabl-td"><input class="in_sred" id="sred5" type="text"></td>
        </tr>
    </tfoot>



</table>
<br>
<div class="butt">
    <button type="button" class="raschet_b1">Расчёт</button>
    <!-- <button type="button" class="bd_b1">Сохранить в БД</button> -->
    <!-- <button type="button" class="print1_b1">Печать</button> -->
</div>
<!-- {% load static %} -->
<!-- <script src="{% static 'js\b_1.js' %}"></script> -->
<!-- <script src="../../static/js/b_1.js"></script> -->
{% endblock %}