{% extends "../base.html" %}


{% block title %}Форма Б.8{% endblock %}

{% block title_form %}
    <button type="button" class="primer1_b1" name="primer">Пример</button>
    <button type="button" class="reset" name="res">Очистить поля</button>
    <!-- <button type="button" class="save" name="save">Сохранить Форму</button><br><br> -->
    <p class="name_vedomost"><b>Форма Б.8</b> - Ведомость определения состава вороха початков кукурузы</p>
{% endblock  %}

{% block tabl_header %}
<table class="tabl_1">
    <tr>
        <td><label for="marka" class="mod_traktor"><i><b>Марка машины:</b></i></label></td>
        <td><input type="text" id="marka" class="z_1" name="marka" size="50"></td>
    </tr>
    <tr>
        <td><label for="marka" class="mod_traktor"><i><b>Место испытания:</b></i></label></td>
        <td><input type="text" id="opyt" class="z_1" name="marka" size="50"></td>
    </tr>
    <tr>    
        <td><label for="mesto" class="mod_traktor"><i><b>Опыт:</b></i></label></td>
        <td><input type="text" id="mesto" class="z_2" name="mesto" size="5"></td>
    </tr>
    <tr>    
        <td><label for="mesto" class="mod_traktor"><i><b>Сорт (гибрид):</b></i></label></td>
        <td><input type="text" id="tara" class="z_2" name="sort" size="50"></td>
    </tr>
    <tr>
        <td><label for="data" class="mod_traktor"><i><b>Дата испытаний:</b></i></label></td>
        <td><input type="text" id="data" class="z_3" name="data" size="15"></td>
    </tr>
    <tr>
        <td><label for="data" class="mod_traktor"><i><b>Средства измерений:</b></i></label></td>
        <td><input type="text" id="sort" class="z_4" name="data" size="50"></td>
    </tr>
         
</table>
{% endblock %}

{% block tabl %}
<table class="main-tabl">
    <thead>
        <tr>
            <th class="tabl-th" rowspan="3">Наименование показателя</th>
            <th class="tabl-th" colspan="3">Значение показателя</th>
            <th class="tabl-th" rowspan="3">Среднеариф<br>метическое<br>значение</th>
            <th class="tabl-th" rowspan="3">Температура<br>Массовая<br>доля, %</th>
        </tr>
        <tr>
             <th class="tabl-th" colspan="3">Номер пробы</th>
        </tr>
        <tr>
            <th class="tabl-th">1</th>
            <th class="tabl-th">2</th>
            <th class="tabl-th">3</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th class="tabl-th">Масса пробы, всего, кг</th>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
        </tr>
        <tr>
            <th class="tabl-th">Масса початков в пробе, кг</th>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
        </tr>
        <tr>
             <th class="tabl-th text_left" colspan="5">В том числе:</th>
        </tr>
        <tr>
            <th class="tabl-th text_left"> - очищенные</th>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
        </tr>
        <tr>
            <th class="tabl-th text_left"> - не очищенные</th>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
        </tr>
        <tr>
            <th class="tabl-th text_left"> - целые</th>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
        </tr>
        <tr>
            <th class="tabl-th text_left"> - с повреждённой<br>поверхностью зерна</th>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
        </tr>
        <tr>
            <th class="tabl-th text_left"> - части початка</th>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
        </tr>
        <tr>
            <th class="tabl-th">Свободное зерно, кг</th>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
        </tr>
        <tr>
            <th class="tabl-th">Сорная примесь, кг</th>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
            <td class="tabl-td"><input class="in" type="number"></td>
        </tr>
    </tbody>
        


</table>
<br>
<div class="butt">
    <button type="button" class="raschet_b1">Расчёт</button>
    <!-- <button type="button" class="bd_b1">Сохранить в БД</button> -->
    <!-- <button type="button" class="print1_b1">Печать</button> -->
</div>
<!-- {% load static %} -->
<!-- <script src="{% static 'js\b_1.js' %}"></script> -->
<!-- <script src="../../static/js/b_1.js"></script> -->
{% endblock %}