{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'vedomost/style.css' %}">
        <!-- <script type="text/javascript" src="{% static 'js/b_1.js' %}"></script> -->
    </head>
    <body>
       <div class="main-container">
            <header class="header-container">
                <img src="{% static 'img/logo.png' %}" class="logo" alt="logo">
                <h2 class="header-title">Новокубанский филиал ФГБНУ "Росинформагротех"<br>КубНИИТиМ</h2>
                <p class="header-prog-name"><b>Программа:</b> к ГОСТ<br>ПОГРУЗЧИКИ И ТРАНСПОРТЁРЫ<br>СЕЛЬСКОХОЗЯЙСТВЕННОГО НАЗНАЧЕНИЯ</p>
            </header>
            <div class="lin-orange"></div>
            <nav class="nav">
                <div class="form_b">
                 <p class="name-nav"><b>Формы Б: </b></p>
                <ul class="markers">
                    <li><a href="">Б.1</a></li><br>
                    <!-- <li><a href="">Б.2</a></li><br>
                    <li><a href="">Б.3</a></li><br>
                    <li><a href="">Б.4</a></li><br>
                    <li><a href="">Б.5</a></li><br>
                    <li><a href="">Б.6</a></li><br>
                    <li><a href="">Б.7</a></li><br>
                    <li><a href="">Б.8</a></li><br>
                    <li><a href="">Б.9</a></li><br>
                    <li><a href="">Б.10</a></li><br>
                    <li><a href="">Б.11</a></li><br>
                    <li><a href="">Б.12</a></li><br>
                    <li><a href="">Б.13</a></li><br>
                    <li><a href="">Б.14</a></li><br>
                    <li><a href="">Б.15</a></li><br>
                    <li><a href="">Б.16</a></li><br>
                    <li><a href="">Б.17</a></li><br> -->
                </ul>
                </div>
                <div class="form_a">
                <p class="name-nav"><b>Формы А: </b></p>
                <ul class="markers">
                    <li><a href="">А.1</a></li><br>
                    <!-- <li><a href="">А.2</a></li><br>
                    <li><a href="">А.3</a></li><br>
                    <li><a href="">А.4</a></li><br>
                    <li><a href="">А.5</a></li><br>
                    <li><a href="">А.6</a></li><br>
                    <li><a href="">А.7</a></li><br>
                    <li><a href="">А.8</a></li><br>
                    <li><a href="">А.9</a></li><br>
                    <li><a href="">А.10</a></li><br>
                    <li><a href="">А.11</a></li><br>
                    <li><a href="">А.12</a></li><br>
                    <li><a href="">А.13</a></li><br>
                    <li><a href="">А.14</a></li><br>
                    <li><a href="">А.15</a></li><br>
                    <li><a href="">А.16</a></li><br>
                    <li><a href="">А.17</a></li><br>
                    <li><a href="">А.18</a></li><br>
                    <li><a href="">А.19</a></li><br>
                    <li><a href="">А.20</a></li><br> -->
                </ul>
                </div>
            </nav>
            <!-- <hr> -->
            <section class="fon">
                <section class="opisanie">
                    {% block title_form %}{% endblock %}
                    {% block tabl_header %}{% endblock %}
                </section>
                <section class="tabl">
                    {% block tabl %}{% endblock %}
                </section>
                <section class="podpis">
                    <table class=podp>
                        <tr>
                            <td>Исполнитель</td> <td>________________</td>
                            <td>&nbsp;&nbsp;&nbsp;________________</td>
                            <td>&nbsp;&nbsp;&nbsp;________________</td>
                        </tr>
                        <tr class="text-bot">
                            <td> </td>
                            <td class="text-bot">должность</td>
                            <td class="text-bot">личная подпись</td>
                            <td class="text-bot">инициалы, фамилия</td>
                        </tr>
                    </table>
                </section>
            </section>
            <footer class="fot">
                <p class="text-footer">&copy; КубНИИТиМ<br>2024г.</p>
                <p class="text-footer">352243,Краснодарский край, г. Новокубанск, ул.Красная,15 <br>
                    Тел (86195)3-61-59 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Факс(86195)3-66-05 <br>
                    <u>E-mail: director@kubniitim.ru</u>
                </p>
                <img src="{% static 'img/favicon.ico' %}" alt="footer">
            </footer>
       </div>
    </body>
</html>